*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fondo:#f2f4f7;
    --color-button:#0866ff;
    --color-forgot:#0866ff;
    --color-button-2:#42b72a;
    --color-form:#fff;

}


body{
    font-family:Helvetica, Arial, sans-serif;
    background-color: var(--color-fondo);
}

main{
    background-color:var(--color-fondo);
}



.fb_content{
    min-height: 640px;
}

._1abc{
    padding-bottom: 112px;
    padding-top: 72px;
}

._2abc{
    display: flex;
    justify-content: space-around;
    height:496px;
    margin: 0 40px;
    width: auto;
}

._3esb{
    width: 400px;
    padding-right: 32px;
    box-sizing: border-box;
}

.fb_img{
    padding: 112px 0 16px;
}

.fb_img img{
    height:106px;
    margin: -28px;
}
.fb_title{
    font-size: 24px;
    line-height:28px;
    width: auto;
    font-weight: 400;
    font-family:SFProText-Semibold, Helvetica, Arial, sans-serif;
}


._3esn{}

.from_content{
    width:396px;
    height:456px;
    

}

.fb_form{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
    align-items: center;
    border-radius: 8px;
    margin: 40px 0 0;
    box-shadow: 0 2px 4px #0000001a,0 8px 16px #0000001a;
    box-sizing: border-box;
    padding:20px 0 28px;
    background-color: #fff;
}

.form_login{
    width:364px;
    font-size: 17px;
    padding: 6px 0;
}


.fb_passwd{
    width:364px;
    font-size: 17px;
    padding: 6px 0;
}
input[type=text]{
    font-size:17px;
    padding:14px 16px;
    width:364px;
    color:#1d2129;
    border:1px solid #dddfe2;
    line-height: 16px;
    border-radius:6px;
}

input[type=password]{
    font-size:17px;
    padding:14px 16px;
    width:364px;
    color:#1d2129;
    border:1px solid #dddfe2;
    line-height: 16px;
    border-radius:6px;
}

input:focus {
    outline: none;            /* Elimina el borde por defecto */
    border: 1px solid blue;   /* Cambia el color del borde */
  }

.fb_button{
    padding-top: 6px;
    width:364px;
}

button[type=submit]{
    background-color: var(--color-button);
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width:364px;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, arial, sans-serif;
    font-weight: 700;
}

button[type=submit]:hover{
    background-color: #3a85fd;
}

.fb_forgot{
    margin-top: 16px;
    text-align: center;
}

.fb_forgot a{
    font-size: 14px;
    font-weight: 500;
    color:#0866ff;
    text-decoration: none;
    font-family: Helvetica, arial, sans-serif;
}

.fb-line{
    align-items: center;
    display: flex;
    margin: 20px 16px;
    text-align: center;
    border-bottom: 1px solid #DADDE1;
    width: 90%;
}

.fb_button2{
    border: none;
    border-radius: 6px;
    line-height: 48px;
    padding: 0 16px;
    cursor: pointer;
    background-color: #42b72a;
}

.fb_button2:hover{
    background-color:#36a420;
}

.fb_button2 a{
    color:#fff;
    font-family: Helvetica, arial, sans-serif;
    text-decoration: none;
    font-weight: 700;
}

.reg_pages_msg{
    line-height: 1.34;
    margin-top: 28px;
    text-align: center;
}

.reg_pages_msg a{
    cursor: pointer;
    color:#1c1e21;
    text-decoration: none;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}


.footer_content{
    padding-top: 20px;
}

.pageFooter{
    margin: 0 40px;
    width:980px;
}


.uiList{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
}

.uiList li{
    padding-left: 10px;
}

.uiList li a {
    text-decoration: none;
    color: #8a8d91;
    font-size: 12px;
}

.uiList li a:hover{
    text-decoration:underline;
}

.contentCurve{
    height: 8px;
    margin-bottom:8px;
    border-bottom:1px solid #dddfe2;
}

.pageFooterChildren{
    margin: 0 40px;
    width: 980px;
}

.mvl{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 980px;
}

.copyright{
    font-size: 11px;
    color: #8a8d91;
}

.mvl span{
    margin: 0 40px;
}